<p>Hello <%= @user.name %>,</p>

<p>We hope you enjoyed watching <strong><%= @movie.title %></strong>! We'd love to hear your thoughts. Please take a moment to leave a review for the movie.</p>

<p><a href="<%= movie_url(@movie) %>">Leave a review</a></p>

<p>Thank you!</p>